*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
.ownnav{
    box-shadow: 2px 2px 10px gray;

}
.nav-item{
    font-size: 16px;
    transition-duration: 0.4s;
    box-shadow: 2px 2px 10px gray;
    border-radius: 3px;
    font-weight: bold;
    
}
.nav-item:hover{
   
    background-color: #4CAF50; 
    color: white;
    border-radius: 5px;

}
.nav-items{
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 10px gray;
    background-color: #4CAF50; 
    border-radius: 3px;
}
.carousel-inner{
    margin-top: 2px;
}
/* --------------------------------------------------- */
body{
    font-family: 'Times New Roman', Times, serif;
	
}





/* --------------------------------------------------- */
.wrapper {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
  }
  
  .cards {
    grid-area: 1 / 1;
    height: 200px;
    width: 100%;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: #3C4BBD;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  }
  
  h1 {
    font-size: 60px;
    font-weight: 900;
  }
  
  .cards .enclosed {
    background: #000;
    line-height: 1;
    color: #ffffff;
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
  }
  
  .wrapper:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #000;
    box-sizing: content-box;
  }
  
  
  .wrapper:hover > div,
  .wrapper:hover:before {
    transform: none;
  }
  
  
  .wrapper > div,
  .wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
  
  
  

.cutoutbody{
    height: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .cutoutbody {
    display: grid;
    place-items: center;
    background:
      linear-gradient(to bottom right, #27ae60 15%, transparent),
      radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
      linear-gradient(to bottom right, #27ae60, #57ADD8);
  }

/* ------------------------------------------------------ */
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	visibility: hidden;

}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
	margin: 0px;
	display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.Productsimg{
    display: flex;
}
/* --------------------------------------------------- */








/* CSS Image Hover. Created refering to Naoya's Pen: https://codepen.io/nxworld/pen/ZYNOBZ */
/*Sepia*/

/* 3D Transform. Craeted refering to Dudley Storey's Pen: https://codepen.io/dudleystorey/pen/KFLJp */


/* Craeted refering to LittleSnippets.net Pen: https://codepen.io/littlesnippets/pen/adLELd */
.frame {
	text-align: center;	
	/* position: relative; */
	cursor: pointer;	
	perspective: 300px; 
}
.frame img {
	width: 350px;
	height: 300px;
    /* margin-right: 20px; */
}
.frame .details {
	width: 80%;
	height: 80%;	
	padding: 5% 8%;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(255,255,255,0.9);	
	opacity: 0;
	transition: all 0.4s ease-in;
	
}
.frame:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}
.mainproducts{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#fristproductrow{
    display: flex;

}

li{
    color: white;
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    color: white;
    text-decoration: none;
}
.changingcolor{
    background-color: #03031c;
}
h5{
    color: white;
}
.searchbar input{
    width: 500px;
    margin-left: 490px;
    margin-bottom: 50px;
}
.buttonname{
    margin-bottom: 50px;
}
#secproductrow{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 576px) {
    
    .searchbar input{
        margin-left: 30px;
    }
}


@media (max-width: 768px) {
    .searchbar input{
        width: 200px;
    }
}














/* ------------------------------------------------- */
@media only screen and (max-width: 600px) {
    .nav-item{
        text-align: center;
        width: 200px;
        margin-left: 50px;
    }
    
    .nav-items{
        text-align: center;
        width: 200px;
        margin-left: 50px;
    }
    .navbar-nav{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .cutoutbody{
        display: none;
    }
    .Productsimg{
        margin-left: 30px;
        display: block;
      
    }
    .Productsimg :first-child{
        margin-left: 10px;
        display: block;
       
    }
    .mainproducts{
    display: none;
    }
    .frame img {
        width: 250px;
        height: 200px;
        margin: 5px;
        /* margin-right: 20px; */
    }
    .details{
        display: none;
    }
   .h1{
    font-size: 16px;
   }
   #fristproductrow{
    display: block;
   }

}


@media (max-width: 576px) {
    .main {
        flex-wrap: wrap;
    }
    
    .searchbar input{
        margin-left: 30px;
    }
}


@media (max-width: 768px) {
    .searchbar input{
        width: 200px;
    }
}
